@import "../../sass/variables";

.Sidebar {
  display: flex;
  width: 20rem;
  flex-direction: column;
  margin-top: 3rem;
  background-color: $color-purple-light;
  z-index: 1;
  box-shadow: $box-shadow-right;
}

.Link {
  padding: 1rem;
  text-decoration: none;
  color: $color-white;
  background-color: $color-purple-light;

  &:hover {
    color: $color-purple-light;
    text-decoration: none;
    background-color: $color-white;
  }
}

.ActiveLink {
  padding: 1rem;
  text-decoration: none;
  color: $color-purple-light;
  background-color: $color-white;

  &:hover {
    text-decoration: none;
  }
}