@import "../../sass/variables";

.Sidebar {
  display: flex;
  width: 20rem;
  flex-direction: column;
  margin-top: 3rem;
  background-color: $color-white;
  z-index: 1;
  box-shadow: $box-shadow-right;
}

.TabSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  background-color: $color-grey-light-1;
  --active-design: #{$color-blue-light};
  --active-design-border: #{$color-blue-dark};
  --active-budget: #{$color-green-light};
  --active-budget-border: #{$color-green-dark};
  --active-deploy: #{$color-purple-light};
  --active-deploy-border: #{$color-purple-dark};
  --inactive-border: #{$color-grey-light-2}
}