@import "../../sass/variables";

body {
  overflow-x: hidden;
}

.Layout {
  display: flex;
}

.Content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
}