@import "../../sass/variables";

.Container {
  margin: 4rem;
  position: relative;
}

th {
  border: 1px solid $color-grey-light-3;
  padding: .1rem;
}

td {
  border: 1px solid $color-grey-light-3;
  padding: .5rem;
}